<section class="route-shell route-shell--people-auditor">
  <div class="route-shell__hero">{{{hero_html}}}</div>
  <div class="route-shell__grid route-shell__grid--people">
    <aside class="route-shell__column route-shell__column--left">{{{left_html}}}</aside>
    <section class="route-shell__column route-shell__column--center">{{{center_html}}}</section>
    <aside class="route-shell__column route-shell__column--right">{{{right_html}}}</aside>
  </div>
  <div class="route-shell__bottom">{{{bottom_html}}}</div>
</section>
